body {
    background-color: bisque;
}
.bold{
    font-weight: bold;
}
#selfhelp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    list-style-position: inside;
}
#finance{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
#leadership{
    color: blue;
    text-align: right;
    list-style-position: inside;
}